{% extends 'app/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
LuckyTrader - {% translate "Приборная панель" %}
{% endblock %}

{% block head %}
<link href="{% static 'css/general-page.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<form action="{% url 'app2FA' %}" method="post">
    {% csrf_token %}
    <main page-api-block="api-1" id="api-1" style="display: block" class="page-account__main api-key-page-main">
        <div class="d-api-key">
            <div class="container-account d-api-key__container">
                <div class="d-api-key__inner">
                    <div class="d-api-key__form">
                        <a href="{% url 'appSettings' %}" class="prev-page-link d-api-key__prev-page-link">
                            <span class="prev-page-link__icon"></span>
                            <span class="prev-page-link__title">{% trans 'Назад в Настройки' %}</span>
                        </a>
                        <h1 class="d-api-key__title">{% trans 'Подключение 2FA' %}</h1>
                        <ul class="step-list d-api-key__step-list">
                            <li class="step-list__card is-active">{% trans 'Подлючение токена' %}</li>
                            <li class="step-list__card">{% trans 'Проверка 2FA' %}</li>
                        </ul>
                        <div class="d-api-key__content">
                            <p>1. {% trans 'Перейдите в приложение Google Authorization.' %}</p>
                            <p>2. {% trans 'Нажмите + и выберите один из вариантов.' %}</p>
                            <p>3. {% trans 'Отсканируйте QRCode или введите вручную ключ настройки.' %}</p>
                            <p>{% trans 'Отлично. Данный ключ подвязан, осталось его подтвердить, нажмите Далее' %}</p>
                            <div style="display: flex; align-items: center;">
                                <img style="width: 35%" src="{{qrcode.qr_url.url}}">
                                <div style="width: 65%" class="card-info d-api-key__aside-card-info">
                                    <h3 class="card-info__title">{% trans 'Ключ 2FA' %}</h3>
                                    <div class="card-info__description">
                                        <p>{{qrcode.code}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="btn-groups d-api-key__form-group-btn">
                            <button page-api="api-2" type="button" class="btn-default btn-groups__item">Далее</button>
                        </div>
                    </div>
                    <div class="d-api-key__aside">
                        <div class="card-info d-api-key__aside-card-info">
                            <h3 class="card-info__title">{% trans 'Зачем 2FA' %}</h3>
                            <div class="card-info__description">
                                {% blocktranslate %}
                                <p>Чтобы позволить нашей платформе более качественно защитить вас от взлома, мы
                                    настоятельно рекомендуем подлючить 2FA</p>
                                {% endblocktranslate %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main page-api-block="api-2" id="api-2" style="display: none" class="page-account__main api-key-page-main">
        <div class="d-api-key">
            <div class="container-account d-api-key__container">
                <div class="d-api-key__inner">
                    <div class="d-api-key__form">
                        <a href="{% url 'appSettings' %}" class="prev-page-link d-api-key__prev-page-link">
                            <span class="prev-page-link__icon"></span>
                            <span class="prev-page-link__title">{% trans 'Назад в Настройки' %}</span>
                        </a>
                        <h1 class="d-api-key__title">{% trans 'Добавление API-ключа от Telegram' %}</h1>
                        <ul class="step-list d-api-key__step-list">
                            <li class="step-list__card">{% trans 'Подлючение токена' %}</li>
                            <li class="step-list__card is-active">{% trans 'Проверка 2FA' %}</li>
                        </ul>
                        <div class="input-user-pass d-api-key__form-line u-width-100">
                            <div class="input-user-pass__header">
                                <label for="api-key">2FA {% trans 'ключ' %}</label>
                            </div>
                            <div class="input-user-pass__input-wrapper">
                                {{ form.code_from_2FA }}
                            </div>
                        </div>
                        <div class="btn-groups d-api-key__form-group-btn">
                            <button page-api="api-1" type="button" class="btn-secondary btn-groups__item">Назад</button>
                            <button type="submit" onclick="setTimeout(() => this.disabled = true, 1);"
                                    class="btn-default btn-groups__item">Добавить
                            </button>
                            {# <a data-micromodal-trigger="modal-wrong-key">Popap</a> #}
                        </div>
                    </div>
                    <div class="d-api-key__aside">
                        <div class="card-info d-api-key__aside-card-info">
                            <h3 class="card-info__title">2FA Ключ</h3>
                            <div class="card-info__description">
                                <p>{% trans 'Данный ключ нужно получить из приложения Google Authorization' %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</form>
<div class="modal micromodal-slide" id="modal-wrong-key" aria-hidden="false">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close="">
        <div class="m-modal modal__container" role="dialog" aria-modal="true">
            <button class="modal__close" aria-label="Close modal" data-micromodal-close=""></button>
            <div class="m-modal__body">
                <div class="m-modal__trade">
                    <div class="m-modal__title">{% trans 'Неверные данные' %}</div>
                    <div id="error-text" class="m-modal__description">
                        {% if form.errors %}
                        {{form.non_field_errors}}
                        {% endif %}
                    </div>
                    <button class="btn-default m-modal__btn-trade" data-micromodal-close="">Понятно</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'js/tblock.js' %}"></script>
<script src="{% static 'js/sign-in.js' %}"></script>
{% if form.errors %}
<script>
    let elems = 'api-2'
    for (el of document.querySelectorAll('[page-api-block]')) {
        let atributes = el.getAttribute('id')
        if (atributes == elems) {
            document.getElementById(atributes).style.display = 'block'
        } else {
            document.getElementById(atributes).style.display = 'none'
        }
    }
    let elem = document.getElementById('modal-wrong-key')
    open_micro_modal = elem
    elem.classList.add('is-open')
</script>
{% endif %}
{% endblock %}
