{% extends 'app/base.html' %}
{% load i18n %}
{% load static %}
{% load staticfiles %}

{% block title %}
LuckyTrader - {% translate "Приборная панель" %}
{% endblock %}

{% block head %}
<link href="{% static 'css/general-page.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main class="page-account__main balance-page-main">
    <div class="d-balance">
        <div class="container-account d-balance__container">
            <div class="d-balance__header">
                <div class="d-account__header-info">
                    <div class="d-balance-card">
                        <h1 class="d-balance-card__title">{% trans 'Биржевые аккаунты' %}</h1>
                        <div class="d-balance-card__info-list">
                            <div class="d-balance-card__info-card">
                                <div class="d-balance-card__info-card-title">
                                    {% trans 'Информация ваших подключенных биржевых аккаунтов'%}
                                    <span class="d-tip"
                                          data-tooltip="{% trans 'Здесь отображаются все подключенные вами аккаунты.' %}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="d-account__header-content" style="display: flex;">
                    <h1 class="d-account__header-content-value">{{apikeys|length}}</h1>
                    <h2 class="d-balance__header-content-title">{% trans 'Подключенно аккаунтов' %}</h2>
                </section>
            </div>
            <div class="d-balance__table">
                <div class="d-balance__table-title"> {% trans 'Подключенные аккаунты' %}</div>
                <div class="d-balance__table-header">
                    <div class="d-balance__table-header-item">
                        <div class="d-balance__table-header-item-title">{% trans 'Биржа' %}</div>
                        <div class="custom-select d-balance__table-header-item-select">
                            <select name="select" class="custom-select__select-default">
                                <option value="Все операции">{% trans 'Все' %}</option>
                                <option value="Все операции">{% trans 'Binance' %}</option>
                                <option value="Все операции">{% trans 'BiByt' %}</option>
                            </select>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 class="custom-select__arrow">
                                <path fill-rule="evenodd" d="M0.0,0.0 L6.727,6.727 L13.454,0.0 L0.0,0.0 Z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="d-balance__table-header-item d-balance__table-header-item--right">
                        <button to-url="{% url 'appAPIKeys' %}" type="button" class="btn-secondary btn-groups__item">
                            Добавить аккаунт
                        </button>
                    </div>

                </div>
                <div class="d-table d-balance__table-el">
                    <div class="d-table__row d-table__row--header">
                        <div class="d-table__row-col">
                            <div class="d-table__row-col-inner">{% trans 'Дата создания' %}</div>
                        </div>
                        <div class="d-table__row-col">
                            <div class="d-table__row-col-inner">{% trans 'Биржа' %}</div>
                        </div>
                        <div class="d-table__row-col">
                            <div class="d-table__row-col-inner">{% trans 'Название аккаунта' %}</div>
                        </div>
                        <div class="d-table__row-col">
                            <div class="d-table__row-col-inner">
                                <div class="d-table__row-col-inner">{% trans 'Публичный ключ' %}</div>
                            </div>
                        </div>
                        <div class="d-table__row-col">
                            <div class="d-table__row-col-inner">
                                <div class="d-table__row-col-inner">{% trans 'Активен' %}</div>
                            </div>
                        </div>
                        <div class="d-table__row-col">
                            <div class="d-table__row-col-inner">
                                <div class="d-table__row-col-inner">Удалить аккаунт</div>
                            </div>
                        </div>
                    </div>
                    {% comment %} Строки таблицы {% endcomment %}
                    {% for el in apikeys %}
                    <div class="d-table__row d-table__row--body {% if el.status == False %} d-table__row--disabled {% endif %}">
                        <div class="d-table__row-col" data-table-title="{% trans 'Дата создания' %}">
                            <div class="d-table__row-col-inner">{{el.data_create}}</div>
                        </div>
                        <div class="d-table__row-col" data-table-title="{% trans 'Биржа' %}">
                            <div class="d-table__row-col-inner">{{el.place}}</div>
                        </div>
                        <div class="d-table__row-col" data-table-title="{% trans 'Название' %}">
                            <div class="d-table__row-col-inner">{{el.title}}</div>
                        </div>
                        <div class="d-table__row-col" data-table-title="{% trans 'Публичный ключ' %}">
                            <div class="d-table__row-col-inner">
                                {% for n in el.key_public|make_list %}
                                {% if forloop.counter <= 3 or forloop.counter >= el.key_public|make_list|length|add:"-3"%}
                                {{n}}
                                {% elif forloop.counter > 3 and forloop.counter <= 7 %}.{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="d-table__row-col" data-table-title="{% trans 'Активен' %}">
                            <div class="d-table__row-col-inner">
                                <div to-send="{% url 'appAccountsSwitchStatus' el.id %}" switch-btn='1' style="width: 63px; height: 31px; pointer-events: auto" class="switch-btn {% if el.status %}switch-on{% endif %}"></div>
                            </div>
                        </div>
                        <div class="d-table__row-col" data-table-title="{% trans 'Удалить' %}">
                            <div class="d-table__row-col-inner">
                                <button style='pointer-events: auto;' type="button" class="d-table__qr-code d-table__trash"
                                        id-key = {{ el.id }}
                                        name-key = {{ el.title }}
                                        data-micromodal-trigger="modal-confirm-delete">
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal micromodal-slide" id="modal-confirm-delete" aria-hidden="false">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="m-modal modal__container" role="dialog" aria-modal="true">
            <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            <div class="m-modal__body">
                <div class="m-modal-balance">
                    <form class="m-modal-balance__add" action="#">
                        <div class="m-modal-balance__add-address">
                            <div id="key-name" class="m-modal-balance__add-address-title">Удаление: ""></div>
                            <div class="m-modal-balance__add-address-text">Вы точно хотите удалить?</div>
                        </div>
                        <div class="d-alert d-alert--qrcode m-modal-balance__add-alert">
                            <svg class="u-icon d-alert__icon">
                                <use xlink:href="{% static 'img/svg/sprite.svg#warning' %}"></use>
                            </svg>
                            <div class="d-alert__text">
                            {% trans 'Данное действие сотрёт ваши API токеты навсегда. Если вы захотите добавить токены, нужно будет создать новые' %}
                            </div>
                        </div>
                        <div class="d-alert d-alert--warning m-modal-balance__add-alert">
                            <svg class="u-icon d-alert__icon">
                                <use xlink:href="{% static 'img/svg/sprite.svg#warning' %}"></use>
                            </svg>
                            <div class="d-alert__text">
                            {% trans 'После удаления токетов, наш сервис не сможет обеспечивать вас нашим функционалом' %}
                            </div>
                        </div>
                        <div class="m-modal-balance__add-alert">
                            <button id="key-id" to-url = '' style="width: 100%"  type="button"
                                    class="btn-secondary m-modal-balance__add-code-btn">
                                Удалить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/tblock.js' %}"></script>
{% endblock %}
