.input-text-default {
  width: 100%;
  height: 54px;
  padding: 0 20px;
  border: 1px solid var(--app-color-green-13);
  border-radius: 15px;
  background-color: transparent;
  color: var(--app-color-grey-12);
  font-size: var(--app-font-size-3);
  font-weight: 300;
  box-shadow: inset 0px 3px 6px 0px rgba(0, 17, 17, 0.27);
}
