{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        {% comment %} <script src="{% static 'js/ajax.js' %}"></script> {% endcomment %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
        {% comment %} <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"> {% endcomment %}
        <link rel="icon" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/variables.css' %}" type="text/css">
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"> {% endcomment %}
        <title>{% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
<body>
    {% block content %}{% endblock %}
    <script src="{% static '/js/tblock.js' %}"></script>
    <script src="{% static 'js/sign-in.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>