{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    LuckyTrader - {% translate "Смена пароля" %}
{% endblock %}

{% block head %}
{% comment %} <link rel="stylesheet" href="{% static 'css/sign-in.css' %}" type="text/css"> {% endcomment %}
{% endblock %}

{% block content %}
<form action="{% url 'password-change' %}" method="post">
    {% csrf_token %}
    {% if form.errors %}
        <div style="color: red;" id="errors">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
        </div>
    {% endif %}
    {{ form.old_password }}
    {{ form.new_password }}
    {{ form.confirm_new_password }}
    <button type="submit">{% translate "Отправить" %}</button>
</form>
{% endblock %}