{% extends "main/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Востановление пароля' %}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/sign-in.css' %}" type="text/css">
{% endblock %}

{% block content %}
<main class="page-sign-in">
    <section class="page-sign-in__sign-in-wrapper sign-in-wrapper">
        <img to-url="{% url 'index' %}" src="{% static 'img/logo.png' %}"
        alt="Logo LuckyTrade"
        class="sign-in-wrapper__logo">
        <h1 class="sign-in-wrapper__title">{% trans 'Востановление пароля' %}</h1>
        {% if validlink %}
            <p>{% trans 'Придумайте новый пароль' %}</p>
            <br/>
            <form action="." method="post">
                {% csrf_token %}
                {{ form.new_password1 }}
                <br/><br/>
                {{ form.new_password2 }}
                <br/><br/>
                <p><button type="submit" class="btn-default sign-in-form__btn-sign-in">
                    {% trans 'Изменить пароль' %}
                </button></p>
            </form>
        {% else %}
            <p>{% trans 'Ссылка для сброса пароля была недействительной, возможно, потому, что она уже использовалась. Пожалуйста, запросите сброс нового пароля.' %}</p>
        {% endif %}
    </section>
    <div class="page-sign-in__bg">
        <img src="{% static 'img/sign-in-bg.png' %}" alt="Alt" class="page-sign-in__bg">
    </div>
</main>
{% endblock %}